/* Add screen styles below */
.orange-bg {
  background-color: #ff6600;
}

.rank {
  color: gray;
}

center {
  padding-top: 24px;
  padding-bottom: 300px;
  background-color: #f6f6ef;
}

body {
  margin-left: 96px;
  margin-right: 96px;
}  

.post {
  background-color: #f6f6ef;
  padding-top: 16px;
}

.site {
 font-size: 16px;
 margin-left: 4px;
}

.subnav {
  font-size: 14px;
  margin-left: 4px;
}

.login {
  display: block;
  margin-right: 4px;
  font-size: 14px;
}

.triangle {
    transform: translateY(-25%);
    width: 0;
    height: 0;
    border-left: 4px solid transparent; 
    border-right: 4px solid transparent; 
    border-bottom: 10px solid gray; 
  }

.titleline {
  font-size: 13px;
  margin-left: 4px;
}

.link {
  color: gray;
  font-size: 11px;
}

.start {
  width: 0px;
}

.more {
  padding-top: 24px;
}
